<div class="col-md-3 left_col" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="left_col scroll-view">
        <span style="font-size: 20px;color: aliceblue; text-align: center; padding: 10px ;"><b>Hospital Menagement</b></span>
        <span style="font-size: 20px;color: aliceblue; text-align: center; padding: 25%" ><b>System</b></span>
        <div class="navbar nav_title" style="border: 0;">
            <a   href="/dashboard" class="site_title"><img src="/images/hospital-logo.png" style="margin-left: 40px;" alt=""> </a>

        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="/images/User_Circle.png"  class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <h style="color: white">Welcome</h>
                <h2 th:text="${userName}">Filan Fisteku</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">

                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/home/dashboard">Dashboard</a></li>


                        </ul>
                    </li>
                    <li><a><i class="fa fa-users"></i> Pacientët <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/patient/patients">Lista e Pacientëve</a></li>
                            <li><a href="/patient/addPatient">Shto Pacient</a></li>

                        </ul>
                    </li>
                    <li><a href="/appointment/appointments"><i class="fa fa-calendar"></i>Terminet<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/appointment/appointments">Lista e Termineve</a></li>
                            <li><a href="/appointment/addAppointment">Shto Termin</a></li>
                        </ul>
                    </li>
                    <li th:if="${user_role == 'ROLE_ADMIN'}" ><a href="/admin/users"><i class="fa fa-user-md"></i>Përdoruesit<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/users">Lista e Përdoruesve</a></li>
                            <li><a href="/admin/addUser">Shto Përdorues</a></li>

                        </ul>
                    </li>

                </ul>
            </div>

        </div>

    </div>
</div>