<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="common/head.html"/>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <th:block th:replace="common/left-panel.html"></th:block>

        <th:block th:replace="common/top-navigation.html"></th:block>

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Home/
                            <small>Pacient Detaje</small>
                        </h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title" th:object="${patient}">
                                <h2>Profili Pacientit</h2>
                                <h2 style="margin-left: 20%">Historia e Vizitave</h2>
                                <h2 style="margin-left: 30%">Vizita Detaje</h2>
                                <a  th:href="@{/patient/details/{patientId}/visit/addVisit (patientId=${patient.id})}" class="nav navbar-nav navbar-right" style="margin-right: 35px">
                                    <button type="button" class="btn btn-round btn-info"
                                            style=" background-color: #1abb9c ;margin-left: 40%"><i
                                            class="fa fa-hospital-o" style="margin-right: 10px"></i>Shto Vizit
                                    </button>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="padding-left: 0px">

                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left" style="background-color: white; width: 20%;" >
                                    <div class="profile_img" style=";margin-left: 5%;">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <img class="img-responsive avatar-view" src="/images/user.png" alt="Avatar"
                                                 title="Change the avatar">
                                        </div>
                                    </div>
                                    <h3 th:text="${patient.firstName} + ' '+ ${patient.lastName}"></h3>

                                    <ul class=":list-unstyled user_data" style="padding-left: 0px;margin-bottom: 40px">
                                        <li>
                                            <b>ID</b>
                                            <p th:text="${patient.idNr}"></p>
                                        </li>

                                        <li>
                                            <b>Emri</b>
                                            <p th:text="${patient.firstName}"></p>
                                        </li>
                                        <li>
                                            <b>Mbiemri</b>
                                            <p th:text="${patient.lastName}"></p>
                                        </li>
                                        <li>
                                            <b>Email</b>
                                            <p th:text="${patient.email}"></p>
                                        </li>
                                        <li>
                                            <b>Data Lindjes</b>
                                            <p th:text="${patient.birthDate}"></p>
                                        </li>
                                        <li>
                                            <b>Tel</b>
                                            <p th:text="${patient.phoneNr}"></p>
                                        </li>
                                        <li>
                                            <b>Adresa</b>
                                            <p th:text="${patient.address}"></p>
                                        </li>
                                        <li>
                                            <b>Qyteti</b>
                                            <p th:text="${patient.city}"></p>
                                        </li>
                                        <li>
                                            <b>Shteti</b>
                                            <p th:text="${patient.country}"></p>
                                        </li>
                                    </ul>

                                    <a th:href="@{/patient/edit/{id}(id=${patient.id})}" class="btn btn-success"><i
                                            class="fa fa-edit m-right-xs"></i>Edito Profilin</a>
                                    <br>

                                </div>

                                    <table border="1" class="pac-table" style="display: inline-block; margin: 20px">
                                        <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Mjeku</th>
                                            <th>Detaje</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        <tr th:each="visit : ${patient.visits}">
                                            <td th:text="${#dates.format(visit.date, 'dd-MM-yyyy')}">13-03-2020</td>
                                            <td th:text="${visit.user.fullName()}">Sara Dobra</td>
                                            <td>
                                                <a th:href="@{/patient/details/{patientId}/visit/{visitId}(patientId=${patient.id},visitId=${visit.id})}"><i
                                                        class="fa fa-eye" style="font-size:20px; margin-left: 10px"></i></a>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
<!--                                <table id="datatable-buttons" class="table table-striped table-bordered"-->
<!--                                       style="clear: both; display: inline;height: auto; background-color: white ;margin-left: 3%;padding-top: 25px" >-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Data</th>-->
<!--                                        <th>Mjeku</th>-->
<!--                                        <th>Detaje</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->


<!--                                    <tr th:each="visit : ${patient.visits}">-->
<!--                                        <td th:text="${#dates.format(visit.date, 'dd-MM-yyyy')}">13-03-2020</td>-->
<!--                                        <td th:text="${visit.user.fullName()}">Sara Dobra</td>-->
<!--                                        <td>-->
<!--                                            <a th:href="@{/patient/details/{patientId}/visit/{visitId}(patientId=${patient.id},visitId=${visit.id})}"><i-->
<!--                                                    class="fa fa-eye" style="font-size:20px; margin-left: 10px"></i></a>-->
<!--                                        </td>-->

<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->

                                <!--                                Visit Details Start-->
                                <div  id="printV" class="print_div">
                                    <ul th:if="${visitPac != null}" th:object="${visitPac}" class="list-group"
                                        >
                                        <li class="list-group-item ">Historia E Vizites
                                            <p>Data: <span th:text="${#dates.format(visitPac.date, 'dd-MM-yyyy')}":></span></p>
                                            <p >Kontrolluar nga:  <span th:text="${visitPac.user.fullName()}"></span></p>

                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Pershkrimi</b>
                                                <hr>
                                                <p th:text="${visitPac.description}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Ekzaminimi</b>
                                                <hr>
                                                <p th:text="${visitPac.examination}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Anemneza</b>
                                                <hr>
                                                <p th:text="${visitPac.anamneza}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Diagnoza</b>
                                                <hr>
                                                <p th:text="${visitPac.diagnosis}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Rekomandimi</b>
                                                <hr>
                                                <p th:text="${visitPac.recomandation}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Medikamentet</b>
                                                <hr>
                                                <p th:text="${visitPac.medicaments}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div>
                                                <b>Udhezimi</b>
                                                <hr>
                                                <p th:text="${visitPac.instructions}"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item" id="vizitTools">
                                            <div>
                                                <button id="printVizit" class="btn btn-success" style="margin-left: 5%"><i class="fa fa-print"  style="margin-right: 10px"></i>Printo Viziten</button>
                                                <a th:href="@{/patient/details/{patientId}/visit/editVisit/{visitId} (patientId=${patient.id} ,visitId =${visitPac.id})}">   <button id="Edito Viziten" class="btn btn-success" style="margin-left: 5%"><i class="fa fa-edit"  style="margin-right: 10px"></i>Edito Viziten</button></a>
                                                <button id="Fshije Viziten" class="btn btn-warning" style="margin-left: 5%" data-target="#deleteModal" data-toggle="modal" th:attr="data-visitd=${visitPac.id}"><i  class="fa fa-trash" style="margin-right: 10px"></i>Fshije Viziten</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!--                                Visit Details End-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Fshije Viziten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="paclabel"></p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="nothing">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulo</button>
                    <button type="submit" class="btn btn-danger">Fshije</button>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/scripts.html" :: end></th:block>
<script>
    $(function(){
        $('#printVizit').on('click', function() {
            $.print(".print_div");
        });
    });
</script>
<script>

    $('#deleteModal').on('show.bs.modal', function (e) {
        var visitId = $(e.relatedTarget).data('visitd');
        console.log(visitId+"-------------")
        document.getElementById("paclabel").innerHTML = "Deshironi të fshini viziten ?";

        document.getElementById("deleteForm").action = "/patient/details/visits/deleteVisit/" + visitId;

    });
</script>
</body>

</html>
