<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="common/head.html"/>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <th:block th:replace="common/left-panel.html"></th:block>

        <th:block th:replace="common/top-navigation.html"></th:block>

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Home/<small>Pacient Detaje</small>
                        </h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Profili Pacientit</h2>
                                <h2 style="margin-left: 20%" >Historia e Vizitave</h2>
                               <div class="clearfix"></div>
                            </div>
                            <div class="x_content"  th:object="${patient}" >
                                <div class="col-md-3 col-sm-3 col-xs-12 profile_left" >
                                    <div class="profile_img">
                                        <div id="crop-avatar">
                                            <!-- Current avatar -->
                                            <img class="img-responsive avatar-view" src="/images/user.png" alt="Avatar" title="Change the avatar">
                                        </div>
                                    </div>
                                    <h3 th:text="${patient.firstName} + ' '+ ${patient.lastName}"></h3>

                                    <ul class=":list-unstyled user_data" style="padding-left: 0px;">
                                        <li>
                                         <b>ID</b> <p th:text="${patient.idNr}"></p>
                                        </li>

                                        <li>
                                            <b>Emri</b> <p th:text="${patient.firstName}"></p>
                                        </li>
                                        <li>
                                            <b>Mbiemri</b> <p th:text="${patient.lastName}"></p>
                                        </li>
                                        <li>
                                            <b>Email</b> <p th:text="${patient.email}"></p>
                                        </li>
                                        <li>
                                            <b>Data Lindjes</b> <p th:text="${patient.birthDate}"></p>
                                        </li>
                                        <li>
                                            <b>Tel</b> <p th:text="${patient.phoneNr}"></p>
                                        </li>
                                        <li>
                                            <b>Adresa</b> <p th:text="${patient.address}"></p>
                                        </li>
                                        <li>
                                            <b>Qyteti</b> <p th:text="${patient.city}"></p>
                                        </li>
                                        <li>
                                            <b>Shteti</b> <p th:text="${patient.country}"></p>
                                        </li>
                                    </ul>

                                    <a th:href="@{/patient/edit/{id}(id=${patient.id})}" class="btn btn-success"><i class="fa fa-edit m-right-xs" ></i>Edito Profilin</a>
                                    <br>

                                </div>

                                <table id="datatable-buttons" class="table table-striped table-bordered" style="clear: both; display: inline;height: auto;" >
                                    <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Kontrolluar Nga</th>
                                        <th>Detaje</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr th:each="visit : ${patient.visits}">
                                        <td th:text="${#dates.format(visit.date, 'dd-MM-yyyy')}">13-03-2020</td>
                                        <td th:text="${visit.user.fullName()}">Sara Dobra</td>
                                        <td> <a th:href="@{/patient/details/{patientId}/visit/{visitId}(patientId=${patient.id},visitId=${visit.id})}"><i class="fa fa-eye" style="font-size:20px; margin-left: 10px"></i></a ></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/scripts.html" :: end></th:block>
</body>

</html>
